@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #112a54;
  --color-primary-content:#152033;
  --color-secondary: #f4ca40;
  --color-base-100: #ffffff;
  --color-base-200: #f4f6fa;
  --color-base-300: #d9e0ec;

  --color-base-content: #2b66ac ;
  
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #227bbf;
  --color-primary-content: #ffffff;

 --color-secondary: #152033;

   --color-base-100: #101f3b;    /* Main background */
  --color-base-200: #0b1733; /* Secondary background */
  --color-base-300: #263958;  /* Border / deeper surface */

  --color-base-content: #f4ca40;
}



/* #0f2244  #223457   #fbd14a #f1a833*/
.btn-primary{
  background: linear-gradient(135deg,#112a54,#27447d);
  color: white;
  border: none;
}
.btn-primary:hover{
  background: linear-gradient(120deg,#112a54,#1a2c4f);
}

.text-stroke{
  -webkit-text-stroke:1px #a38319 ;
}

[data-theme="dark"] .btn-primary{
  background: linear-gradient(135deg, #234477, #2b66ac);
  color: #f4ca40;
}

[data-theme="dark"] .btn-primary:hover{
  background: linear-gradient(135deg, #234477,#25599a );
  
   color: white
}

[data-theme="dark"] .text-stroke{
  -webkit-text-stroke: 1px #152033;
}



/* .btn-secondary{
  background: linear-gradient(135deg,#f4ca40,#d2b967);
  color: white;
  border: none;
}
.btn-secondary:hover{
   background: linear-gradient(135deg,#eac036,#e3c35a);
  color: white;
  border: none;
} */


  
  @utility text-gradient {
  background-image: linear-gradient(
    to right, #326a9f, #2266ac
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:.5px white ;
}

[data-theme="dark"] .text-gradient{
  background-image: linear-gradient(
    to right, #f4ca40,#efc747
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0;
}

